<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered" style="margin-top: 20px;">
        <thead>
            <tr class="text-center" style="background-color: #f8f8f8;">
                <th style="color: black; font-weight: 600;">ID</th>
                <th style="color: black; font-weight: 600;">Name</th>
                <th style="color: black; font-weight: 600;">Image</th>
                <th style="color: black; font-weight: 600;" colspan="3">Actions</th>
              </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let c of categories" style="background-color: #f8f8f8;">
            <td style="background-color: #f8f8f8; font-weight: 600;">{{c.id}}</td>
            <td>{{c.name}}</td>
            <td align="center"><img [src]="c.image" width="100px" /></td>
            <td><button style="color: white; font-weight: bold; border: 0;" class="btn-primary" [routerLink]="['/admin-category-edit',c.id]">Edit</button></td>
            <td><a style="color: white; font-weight: bold; border: 0; padding: 5px;" class="btn-primary" [routerLink]="['/admin-category-show',c.id]">Show</a></td>
            <td><button style="color: white; font-weight: bold; border: 0;" class="btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
